<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.justinbriggs.android.musicpreviewer.app" >

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Media player needs to keep the screen from dimming or the processor from sleeping -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <service android:enabled="true" android:name=".service.SongService" />

         <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTop"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.PlayerActivity"
            android:parentActivityName=".activity.MainActivity"
            android:label="@string/title_track_list">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity"/>

        </activity>
        <provider
            android:authorities="net.justinbriggs.android.musicpreviewer.app"
            android:name=".data.MusicProvider"
            android:exported="false"
            android:syncable="true" />
    </application>

</manifest>
